/*@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@400;600;700&display=swap');*/
:root{
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
    --skin-color: #ec1839;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: fixed;
    background: #d8d7d7;
    width: 100%;
    padding: 10px;
    padding-bottom: 20px;
}
.allheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    margin-left: 10%;
}
.logo h1{
    color: var(--text-black-900);
    font-weight: 700;
    /*background: red;*/
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}
.logo h1 span{
    font-family: 'Clicker script', cursive;
}
.logo h1::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}
.logo h1::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}
.nav ul li{
    display: inline-block;
    margin-left: 30px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    color: #cd03bcf9;
    font-size: 20px;
    font-weight: 700;
}
.icons{
    display: inline-block;
    margin-right: 20px;
}
.icons input{
    background: #FFFFFF;
    border: 2px solid grey;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
}
.icons i{
    margin-left: 10px;
    font-size: 20px;
}
.nav-toggle{
    display: none;
}

.nav-toggle-label{
    display: none;
    cursor: pointer;
}

.nav-toggle-label span{
    display: block;
    width: 25px;
    height: 3px;
    background: black;
    margin: 5px;
    transition: 0.3s ease;
}
@media(max-width: 480px) , (max-width: 760px) , (max-width: 1024px){

    .nav-toggle-label{
        display: block;
        position: absolute;
        right: 2px;
        top: 1px;
        z-index: 2000;
    }
    .nav{
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background: white;
        padding-top: 100px;
        transition: right 0.3s ease;
        box-shadow: -5px 0 15px rgba(0,0,0,0.1);
    }
    .nav ul{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .nav ul li{
        border-bottom: 2px solid red;
        padding: 20px;
    }
    .nav-toggle:checked ~ .nav{
        right: 0;
    }
    .nav-toggle:checked + .nav-toggle-label span:nth-child(1){
        transform: rotate(45deg) translate(5px, 5px);
    }

    .nav-toggle:checked + .nav-toggle-label span:nth-child(2){
        opacity: 0;
    }

    .nav-toggle:checked + .nav-toggle-label span:nth-child(3){
        transform: rotate(-45deg) translate(6px, -6px);
    }
    .logo{
        margin-left: 2%;
    }
    .logo h1{
        font-size: 11%;
        padding: 8px 7px;
    }
   .logo h1::before, .logo h1::after{
    width: 10%;
    height: 30%;
    border-width: 2px;
   }
   .icons input{
    padding:5px;
    width: 55%;
    font-size: 10px;
   }
   .icons i{
    margin-left: 1px;
    font-size: 12px;
   }
}
body{
    height: 200vh;
}